.home {
  background: none;
  .ant-col {
    margin-bottom: 24px;
  }
  .ant-card {
    border: none !important;

    .ant-card-body {
      padding: 20px 24px 8px !important;
    }

    span {
      font-size: 30px;
      color: rgba(0, 0, 0, .85)
    }
  }
}
